{% extends 'base.html' %}

{% block header %}
  <h1> Balance </h1>
{% endblock %}

{% block content %}
    {% for op in operations%}
	<a href={{ url_for('wallet.operation', op_type=op.type, op_id=op.id) }}>
		<div>
        	<label for="{{op.concept}}">{{op.concept}}</label>
        	<label for="{{op.amount}}">{{op.amount}}</label>
		</div>
	</a>
    {% endfor %}
{% endblock %}
