{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Balance{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='basic_table.css') }}">
	{% for type in types.keys() %}
	<table>
	<tr><th colspan="4"> {{ type.capitalize() }} </th></tr>
	<tr>
		<td> Name </td>
		{% if type != 'credit' %}
		<td colspan="2">
		{% else %}
			<td>
		{% endif %}
		Balance </td>
		{% if type == 'credit' %}
		<td> Next payment </td>
		<td> Available </td>
		{% endif %}
	</tr>
    {% for wallet in types[type] %}
	<tr>
		<td>
		<a href={{ url_for('wallet.balance_details', wallet_id=wallet.id) }}>
        	{{ wallet.name }}
		</a>
		</td>
	{% if type != 'credit' %}
		<td colspan="2">
	{% else %}
		<td>
	{% endif %}
			{{ wallet.balance}}
		</td>
	{% if type == 'credit' %}
		<td>{{ wallet.to_pay }}</td>
		<td>{{ wallet.available }}</td>
	{% endif %}
	</tr>
    {% endfor %}
	</table>
	<br>
    {% endfor %}
{% endblock %}
