{% extends 'wallet/debit.html' %}

{% block title %}Charge{% endblock %}
{% block charge %}
  <label for="store">Store</label>
    <input name="store" id="store" required>

    <label for="feeling">Feeling</label>
    <input name="feeling" value="Forgettable" id="feeling" required>

    <label for="msi">MSI</label>
    <input min="1" max="18" value="1" name="msi" id="msi" required>

    <label for="hidden">Hidden</label>
    <div>
      <input type="radio" id="y" name="hidden" value="1">
      <label for="y">yes</label>
      <input type="radio" id="n" name="hidden" value="0"
            checked>
      <label for="n">no</label>
    </div>

    <!-- TODO categories -->
    {% for category in categories %}
        <label for="{{category}}">{{ category }}</label>
        {% for sub in subs %}
            {% if category in sub['category'] %}
                <div>
                <input type="checkbox" id="{{sub['id']}}" name="subs.{{sub['id']}}" value="{{sub['id']}}">
                <label for="{{sub['name']}}">{{ sub['name'] }}</label>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

