{% extends 'base.html' %}

{% block header %}
<div class="show-success">
	<h1> Record a {% block title %}Debit{% endblock %} </h1>
	{% if charge_saved %}
		<p class='success'> Charge added. </p>
	{% endif %}
	{% if debit_saved %}
		<p class='success'> Debit added. </p>
	{% endif %}
</div>
{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='debit.css') }}">

{% block content %}
  <form method="post">
	<a href={{ url_for('wallet.wallet') }}>
      <label for="wallets">Wallet</label>
	</a>
    <select name='wallet_id' id='wallet'>
        {% for wallet in wallets %}
		<option value="{{wallet.id}}" title="{{wallet.acct_type}}">{{wallet.name}}</option>
        {% endfor %}
    </select>

    <label for="amount">Amount</label>
    <input name="amount" id="amount" required>

    <label for="concept">Concept</label>
    <textarea name="concept" id="concept"></textarea>

    <label for="created_at">Timestamp ("yyyy mm dd hh:mm:ss" or 0)</label>
    <input name="created_at" id="created_at" required>

    <label for="recurrence">Recurrence (cron or empty)</label>
    <input name="recurrence" value="" id="recurrence">
	{% block charge %}{% endblock %}
	<div class="horizontal-even">
    	<input type="submit" name="one" value="Gogogo">
    	<input type="submit" name="continue" value="Another">
	</div>
  </form>
{% endblock %}
