{% extends 'base.html' %}

{% block header %}
<div class="show-success">
	<h1>{% block title %}Actions{% endblock %}</h1>
 	{% if charge_saved or debit_saved %}
		<p class='success'> Operation saved. </p>
        <script>
            function disappear() {
                document.querySelector("p.success").className = "transparent";
            }
            setTimeout(disappear, 2000)
        </script>
	{% endif %}
</div>
{% endblock %}
 
{% block content %}
  {% if g.user %}
  	<div class="horizontal-even">
  		<div>
   			<a class="action" href="{{ url_for('wallet.charge') }}">New charge</a>
		</div>
		<div>
    		<a class="action" href="{{ url_for('wallet.debit') }}">New debit</a>
		</div>
  		<div>
    		<a class="action" href="{{ url_for('wallet.balance') }}">Balance</a>
		</div>
	</div>
  {% endif %}
{% endblock %}

