{% extends 'base.html' %}

{% block header %}
  <h1> Balance </h1>
{% endblock %}

{% block content %}
    {% for key in operation.keys() %}
		<div>
        	<label for="{{ key }}">{{ key }}</label>
        	<label for="{{ operation[key] }}">{{ operation[key] }}</label>
		</div>
    {% endfor %}
{% endblock %}
