{% extends 'base.html' %}

{% block header %}
<div class="show-success">
	<h1>{% block title %} Wallets {% endblock %}</h1>
	{% if added > 0 %}
		<p class='success'> Wallet added. </p>
		<script>
			function disappear() {
				document.querySelector("p.success").className = "transparent";
			}
			setTimeout(disappear, 2000)
		</script>
	{% endif %}
</div>
{% endblock %}

{% block content %}
	<div><h2>Cash</h2></div>
    {% for c in cash %}
	<div>
        <label for="{{c.wallet.name}}">{{c.wallet.name}}</label>
        <label for="{{c.wallet.balance}}">{{c.wallet.balance}}</label>
		<form method="post">
			<input name="delete" value="{{c.wallet.id}}" style="visibility: collapse;">
			<input type="submit" value="delete">
		</form>
	</div>
    {% endfor %}
	<div><h2>Credit Accounts</h2></div>
	{% for c in c_acct %}
	<div>
        <label for="{{c.wallet.name}}">{{c.wallet.name}}</label>
        <label for="{{c.wallet.balance}}">{{c.wallet.balance}}</label>
		<form method="post">
			<input name="delete" value="{{c.wallet.id}}" style="visibility: collapse;">
			<input type="submit" value="delete">
		</form>
	</div>
    {% endfor %}
	<div>
		<h2>Debit Accounts</h2>
	</div>
	{% for c in d_acct %}
	<div>
        <label for="{{c.wallet.name}}">{{c.wallet.name}}</label>
        <label for="{{c.wallet.balance}}">{{c.wallet.balance}}</label>
		<form method="post">
			<input name="delete" value="{{c.wallet.id}}" style="visibility: collapse;">
			<input type="submit" value="delete">
		</form>
	</div>
    {% endfor %}
	<hr>
	<h3> Add wallet </h3>
	<div>
		<form method="post">
			<label for="name">Name</label>
			<input name="name" id="name" required>
			<label for="balance">Balance</label>
			<input name="balance" id="balance" required>
			<label for="w_type">Account w_type</label>
			<div name="w_type">
    			<input type="radio" id="cash"
    			 name="w_type" value="cash">
    			<label for="cash">Cash</label>

    			<input type="radio" id="credit"
    			 name="w_type" value="credit">
    			<label for="credit">Credit</label>

    			<input type="radio" id="debit"
    			 name="w_type" value="debit">
    			<label for="debit">Debit</label>
  			</div>
			<label for="is_savings">Is savings?</label>
			<div name="is_savings">
    			<input type="radio" id="true"
    			 name="is_savings" value="1">
    			<label for="true">Yisss</label>

    			<input type="radio" id="false"
    			 name="is_savings" value="0">
    			<label for="false">Nope</label>
  			</div>
			<label for="interest_rate">Interest rate</label>
			<input name="interest_rate" id="interest_rate">
			<label for="credit_limit">Credit limit</label>
			<input name="credit_limit" id="credit_limit" type="number">
			<label for="closure_day">Closure day</label>
			<input name="closure_day" id="closure_day" type="number">
			<label for="yearly_fee">Yearly fee</label>
			<input name="yearly_fee" id="yearly_fee" type="number">
			<label for="yf_date">Yearly fee due date</label>
			<input name="yf_date" id="yf_date">
								

			<input type="submit" value="add">
		</form>
	</div>
{% endblock %}
